<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/computadoras.css">
</head>

<body>
    <div class="productos-container">
        <div class="producto">
            <img src="/imagenes/img01.webp" alt="Producto 1">
            <h2>PC M-50</h2>
            <p>Precio: $537900.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Alta calidad de imagen.</p>
            </div>
            <div class="container">
                <form action="/user/productos" method="post" id="miFormulario">
                    <!-- No se muestran los campos de entrada -->
                    <input type="hidden" name="nombre" value="PC M-50">
                    <input type="hidden" name="imagen" value="/imagenes/img01.webp">
                    <input type="hidden" name="precio" value="$537900.99">
                    <div class="m-5 text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="producto">
            <img src="/imagenes/img02.jpeg" alt="Producto 1">
            <h2>PC-V20</h2>
            <p>Precio: $854000.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Buen rendimiento.</p>
            </div>
            <div class="container">
                <form action="/user/productos" method="post" id="miFormulario">
                    <!-- No se muestran los campos de entrada -->
                    <input type="hidden" name="nombre" value="PC-V20">
                    <input type="hidden" name="imagen" value="/imagenes/img02.jpeg">
                    <input type="hidden" name="precio" value="$854000.99">
                    <div class="m-5 text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="producto">
            <img src="/imagenes/im03.jpeg" alt="Imagen">
            <h2>PC-J60</h2>
            <p>Precio: $687000.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Super practica.</p>
            </div>
             <div class="container">
                <form action="/user/productos" method="post" id="miFormulario">
                    <!-- No se muestran los campos de entrada -->
                    <input type="hidden" name="nombre" value="PC-J60">
                    <input type="hidden" name="imagen" value="/imagenes/im03.jpeg">
                    <input type="hidden" name="precio" value="$687000.99">
                    <div class="m-5 text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>

        </div>
         <div class="productos-container">
        <div class="producto">
            <img src="/imagenes/img04.jpeg" alt="Producto 1">
            <h2>PC-F40</h2>
            <p>Precio: $737900.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Ideal para todo.</p>
            </div>
            <div class="container">
                <form action="/user/productos" method="post" id="miFormulario">
                    <!-- No se muestran los campos de entrada -->
                    <input type="hidden" name="nombre" value="PC-F40">
                    <input type="hidden" name="imagen" value="/imagenes/img04.jpeg">
                    <input type="hidden" name="precio" value="$724000.99">
                    <div class="m-5 text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="producto">
            <img src="/imagenes/img05.jpeg" alt="Producto 1">
            <h2>PC-K70</h2>
            <p>Precio: $837900.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Gran capacidad.</p>
            </div>
            <div class="container">
                <form action="/user/productos" method="post" id="miFormulario">
                    <!-- No se muestran los campos de entrada -->
                    <input type="hidden" name="nombre" value="PC-K70">
                    <input type="hidden" name="imagen" value="/imagenes/img05.jpeg">
                    <input type="hidden" name="precio" value="$837900.99">
                    <div class="m-5 text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="producto">
            <img src="/imagenes/img06.jpeg" alt="Imagen">
            <h2>PC-L4</h2>
            <p>Precio: $247800.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Alta gamma.</p>
            </div>
             <div class="container">
                <form action="/user/productos" method="post" id="miFormulario">
                    <!-- No se muestran los campos de entrada -->
                    <input type="hidden" name="nombre" value="PC-L4">
                    <input type="hidden" name="imagen" value="/imagenes/img06.jpeg">
                    <input type="hidden" name="precio" value="$247800.99">
                    <div class="m-5 text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>

        </div>
        {{!-- <div class="producto">
            <img src="/imagenes/img04.jpeg" alt="Producto 1">
            <h2>PC-F40</h2>
            <p>Precio: $724000.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Ideal para todo</p>
            </div>
             <div class="container">
                <form action="/user/productos" method="post" id="miFormulario">
                    <!-- No se muestran los campos de entrada -->
                    <input type="hidden" name="nombre" value="PC-F40">
                    <input type="hidden" name="imagen" value="/imagenes/img04.jpeg">
                    <input type="hidden" name="precio" value="$724000.99">
                    <div class="m-5 text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </div> --}}
    {{!-- <div class="productos-container">
        <div class="producto">
            <img src="/imagenes/img05.jpeg" alt="Producto 1">
            <h2>PC-K70</h2>
            <p>Precio: $537900.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Gran capacidad.</p>
            </div>
             <div class="container">
                <form action="/user/productos" method="post" id="miFormulario">
                    <!-- No se muestran los campos de entrada -->
                    <input type="hidden" name="nombre" value="PC-K70">
                    <input type="hidden" name="imagen" value="/imagenes/img05.jpeg">
                    <input type="hidden" name="precio" value="$937900.99">
                    <div class="m-5 text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
        <div class="producto">
            <img src="/imagenes/img06.jpeg" alt="Producto 1">
            <h2>PC-L4</h2>
            <p>Precio: $247800.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Alta gamma.</p>
            </div>
             
                <form action="/user/productos" method="post" id="miFormulario">
                    <!-- No se muestran los campos de entrada -->
                    <input type="hidden" name="nombre" value="PC-L4">
                    <input type="hidden" name="imagen" value="/imagenes/img06.jpeg">
                    <input type="hidden" name="precio" value="$247800.99">
                    <div class="m-5 text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
        <div class="producto">
            <img src="/imagenes/img07.png" alt="Imagen">
            <h2>PC-J7</h2>
            <p>Precio: $587900.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Sonido ultra.</p>
            </div>
            
                <form action="/user/productos" method="post" id="miFormulario">
                    <!-- No se muestran los campos de entrada -->
                    <input type="hidden" name="nombre" value="PC-J7">
                    <input type="hidden" name="imagen" value="/imagenes/img07.pnp">
                    <input type="hidden" name="precio" value="$587900.99">
                    <div class="m-5 text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>
           
        </div>
        </div>
        <div class="producto">
            <img src="/imagenes/img08.jpeg" alt="Producto 1">
            <h2>PC-U77</h2>
            <p>Precio: $79700.99</p>
            <button class="mostrar-detalles">Mostrar detalles</button>
            <div class="detalles-hidden">
                <p>Detalles: Muy resistente a golpes.</p>
            </div>
                <form action="/user/productos" method="post" id="miFormulario">
                    <!-- No se muestran los campos de entrada -->
                    <input type="hidden" name="nombre" value="PC-U77">
                    <input type="hidden" name="imagen" value="/imagenes/img08.jpeg">
                    <input type="hidden" name="precio" value="$79700.99">
                    <div class="m-5 text-center">
                        <button type="submit" class="agregar-al-carrito">Agregar al carrito</button>
                    </div>
                </form>

        </div>
        </div> --}}
    </div>
    <script src="/js/productos.js"></script>
</body>

</html>