.bodytec{
    background-color: rgb(192, 161, 221);
}

.tec{
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    color: rgb(45, 45, 243);
}

.off{
    display: flex;
    justify-content: center;
    color: yellow;
}

.slider-container {
    position: relative;
    max-width: 500px; /* Ajusta el ancho del carrusel según tus necesidades */
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
}

img {
    width: 100%;
    height: 400px;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

body {
    background-color: #b0c6dd;
}

.productos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}

.producto {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    text-align: center;
    width: 400px;
}

.producto img {
    max-width: 100%;
    height: 150px;

}

.agregar-al-carrito {
    background-color: rgb(184, 7, 238);
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.agregar-al-carrito:hover {
    background-color: #062950;
}
.mostrar-detalles{
    padding: auto;
    margin-bottom: 5px;
    background-color: rgb(89, 30, 167);
    color: #fff;
    border-radius: 15px 15px 15px;
}
.detalles-hidden{

    display: none;
    
}